/*  your css code here. If applicable */

body{
	font-family:arial;
	background-color: #f5f5f5;
}
header
{
	background-color: #011e29;
	color:white;
	padding:1px;
	text-align:center;
}
.container{
	display:grid;
	grid-template-rows:repeat(1,auto);
	grid-template-columns:repeat(3,auto);
}
.container>div{
	margin:2px;
}
.latest-news-section{
	border-radius:10px;
	background-color:white;
	padding:10px;
	width:200px;
	
}
.main-article{
	border-radius:10px;
	background-color:white;
	padding:10px;
}
.pictorial-news-section{
	border-radius:10px;
	background-color:white;
	text-align:center;
	padding:10px;
	display:flex;
	flex-direction:column;
	justify-content:center;
}
img{
	height:100px;
	width:200px;
	margin:8px;
}
h1,h2,h3{
	text-align:center;
}
/* p{
	justify-content:center;
	overflow-wrap:wrap;
} */
